*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
header{
    background: #224d77;
}
header nav{
    width: 1190px;
    height: 40px;
    margin: 0 auto;
    color: #ffffff;
    font-size: 12px;
    padding: 0 40px;
}
/*联系电话和人才招聘*/
.nav_phone{
    width: 150px;
    height: 30px;
    line-height: 30px;
    padding: 5px 0;
    float: left;
}
.nav_right{
    width: 144px;
    height: 30px;
    padding: 5px 0;
    float: right;
    line-height: 30px;
}
.nav_right .R{
    float: right;
    color: #ffffff;
}
.nav_right .L{
    float: left;
    color: #ffffff;
}
/*导航*/
.nav_box{
    width: 1190px;
    height: 96px;
    margin: 0 auto;
    padding: 0 40px;
}
.logo{
    width: 194px;
    height: 51px;
    padding:10px 30px 10px 0;
    float: left;
}
.nav_1{
    width: 890px;
    height: 31px;
    float: left;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.drop_down{
    width: 110px;
    height:136px;
    position: absolute;
    bottom:-136px;
    left:-20px;
    flex-wrap: wrap;
    background: #20385A;
    display: none;
}
.drop_down li{
    width: 100%;
    height:21px;
    padding: 12px 0;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    color: #ffffff;
}
.drop_down li:hover{
    color: #3BA6CC;
}
.nav_1 li a:hover .drop_down {
    display: block;
}
.nav_1 li a{
    width: 100px;
    line-height:31px;
    float: left;
    color: #1D3658;
    position: relative;
}
.nav_1 li a:hover{
    color: #91CEE2;
}
.search{
    width: 32px;
    height:32px;
    background: #224d77;
    float: right;
    margin:20px 0 0 0;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
}
.header_background{
    width: 100%;
    height: 100%;
    background:#ffffff;
}
.nav_box .search:hover{
    color: #224d77;
    background: #ffffff;
}
.nav_photo{
    width: 100%;
    height: 300px;
    background: url("../img/咨讯中心大图.jpg") no-repeat;
    background-size: 100% 300px;
}
.section1{
    width:100%;
    height: 60px;
    background: #F9F9F9;
}
.section1 main{
    width: 1200px;
    height: 20px;
    padding:20px 0;
    margin:0 auto;
}
.section1 main a{
    font-size:15px;
    color: #000;
}
.section1 main span{
    font-size: 15px;
    color: #5080c4;
}
.section2{
    width: 100%;
    height: 1208px;
}
.section2 ul{
    width: 1200px;
    height: 1088px;
    margin: 0 auto;
    padding: 60px 40px;
    display: flex;
    flex-wrap: wrap;;
    justify-content: space-between;
   align-content: space-between;
}
.section2 ul li{
    width: 354px;
    height: 479px;
    margin: 20px 20px 10px 20px;
    background: #f4f4f4;
    transition: all 0.2s 0s linear;
}
.section2 ul li .title{
    width: 314px;
    height: 22px;
    padding:15px 20px 0px;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 22px;
}
.section2 ul li .title a{
    color: #494949;
}
.section2 ul li p{
    width:304px;
    height: 96px;
    color: #7c7c7c;
    font-size: 13px;
    line-height: 24px;
    padding:10px 30px 10px 20px;
}
.section2 ul li .more{
    display: block;
    width: 78px;
    height: 20px;
    font-size: 14px;
    color: #353535;
    padding: 10px 30px;
}
.section2 ul .fotter{
    display: block;
    width: 150px;
    margin: 0 auto;
    height: 43px;
    border: 1px solid #ffffff;
    text-align: center;
    font-size: 14px;
    line-height: 45px;
    color: #ffffff;
    background: #1d3658;
}
.section2 ul .fotter:hover{
    background:#ffffff ;
    color: #1d3658;
    border: 1px solid red;
}
.section2 ul li:hover{
    box-shadow: 0 2px 10px 3px rgba(0,0,0,0.1);
    transform: translateY(-2px);
    background: #ffffff;
}
.section2 ul li:hover p{
    transform: translateX(-5px);
}
/*首页底部*/
footer{
    width: 100%;
    height: 262px;
    background: #224D77;
}
footer main{
    width: 1200px;
    height: 68px;
    margin: 0 auto ;
}
footer main nav{
    width: 1200px;
    height: 28px;
    padding: 20px 0;
}
footer main nav span{
    display: block;
    margin-right:80px;
    font-size: 14px;
    float: left;
    font-weight: 400;
    line-height: 28px;
    color: #ffffff;
}
footer main nav span:last-child{
    margin-right: 0;
}
footer main nav ul{
    width:214px;
    height: 28px;
    float: right;
}
footer main nav ul li i{
    line-height:28px;
    float: right;
    margin-left: 10px;
    color: #ffffff;
}
footer .bottom{
    width: 100%;
    height: 133px;
    border-top: 1px solid #ffffff;
}
footer .bottom main{
    width: 1200px;
    height: 133px;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
}
footer .bottom main a{
    display: block;
    float: left;
    height: 20px;
    padding-right:10px ;
    border-right: 1px solid #ffffff;
    margin-right: 10px;
    font-size: 13px;
    font-weight:400;
    color: #ffffff;
}
footer .bottom main .L_address{
    width: 975px;
    height: 133px;
}
footer .bottom main .L_address .bottom_nav{
    width:100%;
    height: 21px;
}
footer .bottom main .L_address .iphone{
    width: 975px;
    height: 45px;
    padding-top:20px;
    line-height: 25px;
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
}
.copyright{
    width:100%;
    line-height:26px ;
    font-size: 12px;
    margin-top: 10px;
    color: #ffffff;
}
footer .bottom main .R_weixin{
    width: 120px;
    height: 133px;
}
footer .bottom main .R_weixin img{
    display: block;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}
footer .bottom main .R_weixin p{
    float: right;
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
    margin-right: 8px;
}
footer .bottom main a:last-child{
    border-right: 0;
}
