*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
header{
    background: #224d77;
}
header nav{
    width: 1190px;
    height: 40px;
    margin: 0 auto;
    color: #ffffff;
    font-size: 12px;
    padding: 0 40px;
}
/*联系电话和人才招聘*/
.nav_phone{
    width: 150px;
    height: 30px;
    line-height: 30px;
    padding: 5px 0;
    float: left;
}
.nav_right{
    width: 144px;
    height: 30px;
    padding: 5px 0;
    float: right;
    line-height: 30px;
}
.nav_right .R{
    float: right;
    color: #ffffff;
}
.nav_right .L{
     float: left;
     color: #ffffff;
 }
/*导航*/
.nav_box{
    width: 1190px;
    height: 96px;
    margin: 0 auto;
    padding: 0 40px;
}
.logo{
    width: 194px;
    height: 51px;
    padding:10px 30px 10px 0;
    float: left;
}
.nav_1{
    width: 890px;
    height: 31px;
    float: left;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
 }
.drop_down{
    width: 110px;
    height:136px;
    position: absolute;
    bottom:-136px;
    left:-20px;
    flex-wrap: wrap;
    background: #20385A;
    display: none;
}
.drop_down li{
    width: 100%;
    height:21px;
    padding: 12px 0;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    color: #ffffff;
}
.drop_down li:hover{
    color: #3BA6CC;
}
.nav_1 li a:hover .drop_down {
   display: block;
}
.nav_1 li a{
    width: 100px;
    line-height:31px;
    float: left;
    color: #1D3658;
    position: relative;
}
.nav_1 li a:hover{
    color: #91CEE2;
}
.search{
    width: 32px;
    height:32px;
    background: #224d77;
    float: right;
    margin:20px 0 0 0;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
}
.header_background{
    width: 100%;
    height: 100%;
    background: url("../img/header.jpg") no-repeat;
}
.nav_box .search:hover{
    color: #224d77;
    background: #ffffff;
}
header h3{
    width: 476px;
    margin:150px auto 30px;
    line-height: 50px;
    text-align: center;
    font-size: 34px;
    font-weight: normal;
    color: #225175;
}
.box_LR{
    width: 414px;
    height:104px;
    margin: 0 auto;
}
.box_L{
    display: block;
    width: 200px;
    height: 50px;
    float: left;
    margin-right: 10px;
    color: rgb(34, 77, 119);
    border: 1px solid rgb(34, 77, 119);
    background:rgb(255, 255, 255);
    text-align: center;
    line-height: 50px;
}
.box_L:hover{
    background: rgb(34, 77, 119);
    color:rgb(255, 255, 255);
}
.box_R{
    display: block;
    width: 200px;
    height: 50px;
    float: right;
    color: #ffffff;
    background:rgb(34, 77, 119);
    border: 1px solid rgb(34, 77, 119);
    text-align: center;
    line-height: 50px;
}
.box_R:hover{
    color:rgb(34, 77, 119);
    background: #ffffff;
}
.header_box{
    width: 100%;
    height:268px ;
    margin-top: 204px ;
    background: #224d77 ;
    overflow: hidden;
}
.header_box ul{
    width: 1200px;
    padding: 0 40px;
    height: 148px;
    margin:60px  auto;
    display: flex;
    justify-content: space-between;
}
.header_box li{
    width: 289px;
    height: 148px;
    border-right: 1px solid rgba(109, 153, 186, 0.2);
}
.header_box li h2{
    width: 259px;
    height: 60px;
    padding: 20px 0;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    color: #fffdfd;
}
.header_box li span{
    display: block;
    width: 259px;
    line-height: 24px;
    color: #ffffff;
    text-align: center;
}
.header_box li:last-child{
    border-right: 0;
}
/*旗下特色产品*/
.section1{
    width: 100%;
    height: 270px;
    background:url("../img/section1.png") repeat;
}
.section1 .header_title{
    width:156px;
    height: 34px;
    margin: 0 auto;
}
.header_title h2{
    width: 156px;
    line-height: 35px;
    font-size: 26px;
    font-weight: normal;
    font-style: normal;
    margin-top:50px;
    color: #1d3658;
}
.section1 .header_title1{
    width: 1190px;
    line-height:24px ;
    font-size: 12px;
    color: rgb(153, 153, 153);
    margin:10px auto 0;
    text-align: center;
}
.trademark{
    padding-top: 50px;
    width: 1190px;
    height:130px;
    margin: 0 auto;
    display: flex;;
    justify-content: space-between;
}
.trademark li{
    width: 265px;
    height:100px;
    position: relative;
}
.trademark li .gray_photo1 {
    display: block;
    width: 265px;
    text-align: center;
    line-height: 100px;
}
.trademark li .gray_photo{
    display: none;
    width: 265px;
    text-align: center;
    height:100px;
    top: 0;
    left:0;
    position:absolute;
}
/*旗下特色品牌鼠标移入特效*/
.trademark li:hover .gray_photo1{
   display:none;
}
.trademark li:hover .gray_photo{
    display:block;
}
/*研究发展和药品开发*/
.section2{
    width: 100%;
    height:330px;
}
.section2 .left{
    width: 50%;
    height: 100%;
    float: left;
    background: url("../img/研究与发展.jpg") no-repeat;
}
.section2 .left .L{
    width: 469px;
    float: right;
    height: 100%;
}
.L P{
     color: #ffffff;
    font-size: 14px;
 }
.section2 .left .L .header_title{
    float: left;
    width: 469px;
    line-height:29px ;
    margin-top: 110px;
    font-size: 22px;
    font-weight: 400;
    padding-bottom: 29px;
    color: #ffffff;
}
.L .small_box{
    margin-top: 20px;
    width: 178px;
    height: 51px;
    color: #ffffff;
    border:1px solid #ffffff;
    text-align: center;
    line-height: 51px;
}
.R .small_box{
    margin-top: 20px;
    width: 178px;
    height: 51px;
    color: #ffffff;
    border:1px solid #ffffff;
    text-align: center;
    line-height: 51px;
}
.L .small_box:hover{
    background:#ffffff;
    color: #000;
}
.R .small_box:hover{
    background:#ffffff;
    color: #000;
}

.section2 .right{
    width: 50%;
    height: 100%;
    float: right;
    background: url("../img/药品开发.jpg") no-repeat;
}
.section2 .right .R{
    width: 469px;
    height: 100%;
    float: left;
    margin-left: 45px;
}
.R P{
    color: #ffffff;
    font-size: 14px;
}
.section2 .right .R .header_title{
    float: left;
    width: 100%;
    line-height:29px ;
    margin-top: 110px;
    font-size: 22px;
    font-weight: 400;
    padding-bottom: 29px;
    color: #ffffff;
}
.R .small_box{
    margin-top: 20px;
    width: 178px;
    height: 51px;
    border:1px solid #ffffff;
    text-align: center;
    line-height: 51px;
}
/*我们的产品*/
.section3{
    width:100%;
    height: 803px;
    background: #F8F8F8;
    overflow: hidden;
}
.section3 h2{
    width: 1190px;
    height: 34px;
    margin:50px auto 0 ;
    text-align: center;
    font-size: 26px;
    font-weight: normal;
    font-style: normal;
    color: #1d3658;
    background: #F8F8F8;
}
.h2_bottom{
    width:1190px;
    height: 25px;
    margin: 0 auto;
    font-size: 13px;
    text-align: center;
    line-height: 25px;
    padding:10px 0 40px 0;
}
.show{
    width: 1200px;
    height: 604px;
    margin: 0 auto;
}
.show li{
    width:298px;
    height: 596px;
    float: left;
    border: 1px solid rgba(0,0,0,0.0);
    background:rgba(239,239,239,1) ;
    position: relative;
}
.transparent{
    width: 298px;
    height: 596px;
    border: 1px solid rgba(0,0,0,0.0);
    left: 0;
    top: 0;
    position: absolute;
    transition: all 0.2s 0.1s linear;
}
.show .medicinal{
     color: #666666;
    width: 278px;
    height: 26px;
    font-size: 20px;
    font-family: 微软雅黑;
    margin: 0 auto;
    font-weight: normal;
    padding-top: 100px;
    padding-bottom: 80px;
    text-align: center;
    transition: all 0.2s 0.1s linear;
}
.show .medicina2{
    color: #666666;
    width: 278px;
    height: 26px;
    font-size: 20px;
    font-family: 微软雅黑;
    margin: 0 auto;
    font-weight: normal;
    padding-top: 80px;
    padding-bottom: 100px;
    text-align: center;
    transition: all 0.2s 0.1s linear;
}
.show li .online{
    width:20px;
    height:2px;
    background: #000;
    margin: 0 auto 90px;
    transition: all 0.2s 0.1s linear;
}
.show li .online2{
    width:20px;
    height:2px;
    background: #000;
    margin:  90px auto 0;
    transition: all 0.2s 0.1s linear;
}
/*药品处鼠标移入效果的制作*/
.show li:hover .transparent{
    border: 1px solid #3472A7;
    transform:scale(0.9,0.95);
}
.show li:hover .online{
    transform: translateY(15px);
    background: #EFEFEF;
}
.show li:hover .online2{
    transform: translateY(-15px);
    background: #EFEFEF;
}
.show li:hover .medicinal{
    transform: translateY(15px);
    color: #3472A7;
}
.show li:hover .medicina2{
    transform: translateY(-15px);
    color: #3472A7;
}
/*匠心制好药*/
.section4{
    width: 100%;
    height: 210px;
    background: #2B567B;
}
.section4 main{
    width: 1190px;
    height: 90px;
    margin: 0 auto;
    padding: 60px 0;
}
.section4 main h2{
    width: 100%;
    height: 45px;
    text-align: center;
    line-height: 45px;
    font-size: 34px;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    padding: 0 0 10px 0;
}
.section4 main  span{
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 15px;
    color: rgb(255, 255, 255);
}
/*咨讯中心*/
.section5{
    width: 100%;
    height: 658px;
    padding: 100px 0;
}
.section5 main{
    width: 1200px;
    height: 658px;
    padding: 0 40px;
    margin: 0 auto;

}
.section5 main .header_title{
    height:34px;
    padding-bottom: 10px;
}
.section5 main .wraper{
    height: 25px;
    padding-bottom: 40px;
}
.section5 main .box{
    width: 1190px;
    height: 548px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.section5 main .box .left_box{
    width: 510px;
    height: 449px;
    padding: 44px 60px;
    background:#F8F8F8;
    position: relative;
}
.section5 main .box .left_box .title_ecllipsis{
    color: #666666;
    font-size: 15px;
    font-weight: normal;
    padding-bottom: 10px;
}
.section5 main .box .right_box ul{
    width: 536px;
    height: 548px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}
.section5 main .box .left_box p{
    width: 509px;
    height:40px;
    color: #999999;
    font-size: 12px;
    border-left: 1px solid rgba(255,255,255,0.0);
    word-break: break-all;
    font-family: 微软雅黑;
    margin-bottom: 10px;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
    line-height:20px;
    overflow: hidden;
    transition: all 0.2s 0.1s linear;
}
.jiahao{
    width:140px ;
    text-align: center;
    font-size: 30px;
    line-height: 37px;
    height: 37px;
    color: #F8F8F8;
    background:#F8F8F8;
    position: absolute;
    bottom: 0;
    left:60px;
    transition: all 0.2s 0.1s linear;
}
.right_box .disc{
    margin-top: 9px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #000000;
    float: left;
    transition: all 0.25s 0.05s linear;
}
.right_box h3{
    float: left;
    width: 346px;
    height: 20px;
    font-size: 15px;
    font-weight: 400;
    padding: 0 0 10px 19px;
    transition: all 0.25s 0.05s linear;
}
.right_box span{
    display: block;
    float: right;
}
.right_box P{
    float: left;
    width: 347px;
    font-size:12px ;
    font-weight: 400;
    height: 40px;
    padding: 0 0 0 23px;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
    line-height:20px;
    overflow: hidden;
    transition: all 0.25s 0.05s linear;
}
 .icon-xaingyou{
    display: block;
    width: 40px;
    height: 16px;
    right: 0;
    bottom:23px;
    color: #cccccc;
    text-align:center;
    border-left: 1px solid #cccccc;
    position:absolute;
     transition: all 0.25s 0.05s linear;
}
.right_box ul li{
    width: 495px;
    height: 80px;
    padding: 23px 20px;
    background:#F8F8F8;
    position: relative;
}
/*资讯中心左边鼠标移入效果 */
.section5 main .box .left_box:hover p{
    transform: translateX(20px);
}
.section5 main .box .left_box:hover{
    background: #224D77;
}
.section5 main .box .left_box:hover .jiahao{
transform: translateY(-30px);
    background: #ffffff;
    color: #000000;
}




/*资讯中心右边鼠标移入效果 */
.right_box ul li:hover P{
    transform: translateX(10px);
    color: #ffffff;
}
.right_box ul li:hover .icon-xaingyou{
    transform: translateX(10px);
    color: #ffffff;
}
.right_box ul li:hover h3{
    transform: translateX(10px);
    color: #ffffff;
}
.right_box ul li:hover .disc{
     transform: translateX(10px);
    background: #ffffff;
 }
.right_box ul li:hover{
    background: #224D77;
}
/*首页底部*/
footer{
    width: 100%;
    height: 262px;
    background: #224D77;
}
footer main{
    width: 1200px;
    height: 68px;
    margin: 0 auto ;
}
footer main nav{
    width: 1200px;
    height: 28px;
    padding: 20px 0;
}
footer main nav span{
    display: block;
    margin-right:80px;
    font-size: 14px;
    float: left;
    font-weight: 400;
    line-height: 28px;
    color: #ffffff;
}
footer main nav span:last-child{
    margin-right: 0;
}
footer main nav ul{
    width:214px;
    height: 28px;
    float: right;
}
footer main nav ul li i{
    line-height:28px;
    float: right;
    margin-left: 10px;
    color: #ffffff;
}
footer .bottom{
    width: 100%;
    height: 133px;
    border-top: 1px solid #ffffff;
}
footer .bottom main{
    width: 1200px;
    height: 133px;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
}
footer .bottom main a{
    display: block;
    float: left;
    height: 20px;
    padding-right:10px ;
    border-right: 1px solid #ffffff;
    margin-right: 10px;
    font-size: 13px;
    font-weight:400;
    color: #ffffff;
}
footer .bottom main .L_address{
    width: 975px;
    height: 133px;
}
footer .bottom main .L_address .bottom_nav{
    width:100%;
    height: 21px;
}
footer .bottom main .L_address .iphone{
    width: 975px;
    height: 45px;
    padding-top:20px;
    line-height: 25px;
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
}
.copyright{
    width:100%;
   line-height:26px ;
    font-size: 12px;
    margin-top: 10px;
    color: #ffffff;
}
footer .bottom main .R_weixin{
    width: 120px;
    height: 133px;
}
footer .bottom main .R_weixin img{
    display: block;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}
footer .bottom main .R_weixin p{
    float: right;
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
    margin-right: 8px;
}
footer .bottom main a:last-child{
    border-right: 0;
}